
@font-face {
  font-family: 'GeistMono-Regular.woff2';
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono-Medium.woff2';
  src: url('/fonts/GeistMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono-Light.woff2';
  src: url('/fonts/GeistMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono-Regular.woff2';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono-Medium.woff2';
  src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'UT Boldonse Demo';
  src: url('/fonts/UT Boldonse Demo.woff2') format('woff2');
  src: url('/fonts/UT Boldonse Demo.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url('/fonts/RobotoMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /*font-family: 'Raveo Display SemiBold', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


inline-block {
  max-width: 100%;
  display: inline-block;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 0em;
  line-height: 1.1;
}

h3 {
  font-size: 0em;
  line-height: 1.1;
}

h4 {
  font-size: 0em;
  line-height: 1.1;
}

h5 {
  font-size: 0em;
  line-height: 1.1;
}

h6 {
  font-size: 0em;
  line-height: 1.1;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}


interactive-data-r {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  font-family: Inter Tight, sans-serif;
  font-size: 28px;
  font-weight: 600;
  display: flex;
}

tabs {
  display: flex;
}

tab-text {
  opacity: .5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 4px solid #313131;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  transition: opacity .2s;
}

tab-text:hover {
  opacity: 1;
}

tab-text:active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 4px solid #fcff59;
  padding-right: 0;
}

interactive-relative-base{
  position: absolute;
}

container {
  max-width: 1100px;
  padding-left: 24px;
  padding-right: 24px;
  z-index: 1;
  position: relative;
}

w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

logo {
  height: 4em;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-left: 10px;
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

container-1400 {
  max-width: 1400px;
}

container-1400.relative {
  position: relative;
}

navbar-float {
  background-color: rgba(221, 221, 221, 0);
}


/* testing */

.body {
  background-color: #ffffff;
}

.body-wrapper {
  display: block;
  position: static;
}

.simple-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; 
  color: #000000;
  z-index: 1000;
  padding: 20px 0;
}

.simple-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.brand {
  font-size: 14px;
  font-weight: 800;
  font-family: 'UT Boldonse Demo', sans-serif;
  color: #000000;
  text-decoration: none;
  letter-spacing: normal;
  display: flex;
  direction: ltr;
  align-items: center;
  padding-top: 2px;
}

.brand img {
  width: 25px;
  height: auto;
  max-width: 100%;
  display: inline-block;
  padding-right: 5px; /* Optional spacing between image and text */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 30px;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-family: 'JetBrainsMono-Regular.woff2', sans-serif;
  font-weight: 400;
  /*letter-spacing: -0.3px;*/
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #E50914;
  font-family: 'JetBrainsMono-Medium.woff2', sans-serif;

}

.section-hero {
  display: block;
  padding-top: 100px;
}

/* Container for the hero section */
.container {
  max-width: 1100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  display: block;
}

/* Hero Image Wrapper (holding both images) */
.hero-image {
  position: relative; 
}

/* Main Image */
.image-absolute {
  position: absolute;
  display: inline-block;
  max-width: 100%;
  height: auto; 
}

/* Accent Image (red background) */
.image-absolute-accent {
  position: absolute;
  display: inline-block;
  align-items: baseline;
  max-width: 100%; 
  top: 17%;
  left: -6%; 
  height: auto; 
  z-index: -1; /* Set lower z-index to appear behind the main image */
}

.container-intro {
  max-width: 1100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  margin-top: 520px;
}

.section-intro {
  display: block;
}

.intro-column {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: auto;
}

.intro-text {
  position: relative;
  text-align: center;
  font-size: 50px;
  font-family: 'UT Boldonse Demo', sans-serif;
  color: #000000;
}

.test img {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-left: 20px;
}

.container-intro img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-relative-1 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: auto;
  top: 50%;
  left: 25%;
  right: 0%;
}

.section-grid {
  display: block;
  margin-top: 100px;
}

.intro-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 16px;
  padding: 16px; 
  max-width: 1100px;
  margin: 0 auto; 
}

.grid-item {
  padding: 20px;
  text-align: center;
}

.intro-grid relative {
  position: relative;
  top: 180px;
}

.stats-text {
  font-size: 30px;
  color: #000000;
  font-family: 'JetBrainsMono-Regular.woff2', sans-serif;
  color: #E50914;
}

.stats-label {
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
  font-size: 20px;
  font-family: 'UT Boldonse Demo', sans-serif; 
  transition: opacity .2s;
}


stats-data-text {
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 8px 0;
  font-size: 1em;
  font-style: normal;
  line-height: .9em;
  position: static;
}

/* end testing */
